@import './variables.scss';

// General body styling
body {
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $secondary-color;
    background-color: $third-color;
}

// Container for the entire section
.adds {
    .head-container {
        @include header-style;
    }

    .add-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 2rem;
        gap: 1rem;

        // Form styling
        .form {
            background-color: $secondary-color;
            color: $primary-color;
            border-radius: 0.5rem;
            padding: 2rem;
            width: 100%;
            max-width: 500px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            label {
                display: block;
                margin-bottom: 0.5rem;
                font-size: 1rem;
                color: $primary-color;
            }

            input[type="text"], select {
                width: 100%;
                padding: 0.5rem;
                border: 1px solid $fourth-color;
                border-radius: 0.25rem;
                margin-bottom: 1rem;
                font-size: 1rem;
                outline: none;
                background-color: $primary-color;
                color: $secondary-color;

                &:focus {
                    border-color: $third-color;
                }
            }

            input[type="radio"] {
                margin-right: 0.5rem;
            }

            // Button container styling
            .form-buttons {
                display: flex;
                gap: 1rem;
                align-items: center;

                // Back button styling
                .back-btn {
                    background-color: $primary-color;
                    color: $secondary-color;
                    border: none;
                    border-radius: 0.25rem;
                    padding: 0.5rem 1rem;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: background-color 0.3s, box-shadow 0.3s;
                    &:hover {
                        background-color: $third-color;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    }
                }

                // Submit button styling
                input[type="submit"] {
                    background-color: $fourth-color;
                    border: none;
                    color: $secondary-color;
                    padding: 0.75rem 1.5rem;
                    border-radius: 0.25rem;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: $third-color;
                    }
                }
            }
        }
    }

    .f-container {
        @include footer-style;
    }
}