@import './variables.scss';

body {
    padding: 0;
    margin: 0;
}

.home {
    .head-container {
        @include header-style;
    }

    .home-container {
        min-height: 50rem;
        display: grid;
        padding: 3rem;
        grid-template-columns: repeat(5, 1fr); /* Default: 5 columns */
        grid-template-rows: repeat(auto-fill, 250px); /* Rows with a height of 250px */
        gap: 1rem;
    }

    @media (max-width: 1200px) {
        .home-container {
            grid-template-columns: repeat(4, 1fr); /* 4 columns on medium screens */
        }
    }

    @media (max-width: 900px) {
        .home-container {
            grid-template-columns: repeat(3, 1fr); /* 3 columns on smaller screens */
        }
    }

    @media (max-width: 600px) {
        .home-container {
            grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
        }
    }

    @media (max-width: 400px) {
        .home-container {
            grid-template-columns: 1fr; /* 1 column on very small screens */
        }
    }

    .image-card {
        position: relative;
        overflow: hidden;
        background-color: black;
        border-radius: 8px;
        transition: transform 0.3s ease;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.3s ease;
        }

        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: white;
            padding: 1rem;
            transform: translateY(100%);
            transition: transform 0.3s ease;
            text-align: center;
            border-radius: 8px 8px 0 0;
        }

        &:hover {
            transform: scale(1.05);

            .info {
                transform: translateY(0);
            }
        }
    }

    /* Header Styling */
    h1 {
        background-color: $fourth-color;
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-size: 2rem;
        color: $secondary-color;
    }

    h1.home {
        color: #007bff; /* Optional: Different color for home page */
    }

    h1.search {
        color: #28a745; /* Optional: Different color for search page */
    }

    h1.movie {
        color: #ffc107; /* Optional: Different color for movies page */
    }

    h1.tvshow {
        color: #dc3545; /* Optional: Different color for TV shows page */
    }

    .f-container {
        @include footer-style;
    }
}