@import './variables.scss';

body {
    padding: 0;
    margin: 0;
}

.home {
    .head-container {
        @include header-style;
    }

    .home-container {
        height: 100vh;
        color: black;
        padding: 3rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* 5 columns */
        grid-template-rows: repeat(5, 1fr); /* 5 rows */
        gap: 1rem; /* Space between grid items */
        align-items: stretch; /* Stretch items to fill their grid areas */
        justify-items: stretch; /* Stretch items to fill their grid areas */
        text-align: center; /* Center text in grid items */
        
        /* Optional: Add styles for individual grid items */
        div {
            background-color: $primary-color; /* Replace with your desired background color */
            color: black; /* Replace with your text color */
            padding: 2rem;
            border-radius: 0.5rem; /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
            display: flex; /* Flexbox to center content inside grid items */
            align-items: center;
            justify-content: center;
        }
    }

    .f-container {
        @include footer-style;
    }
}
