@import './variables.scss';

body{
    padding: 0;
    margin: 0;
}

.home{
    .head-container{
        @include header-style;
    }
    .home-container{
        height: 50rem;
    }
    .f-container{
        @include footer-style;
    }
}