@import './variables.scss';

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    color: $secondary-color;
    background-color: $primary-color;
}

.sect {
    .head-container {
        @include header-style;
    }
    .info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $secondary-color;
        height: 100%;
        gap: 1rem;
        padding: 1rem;
    }
    .button-group {
        display: flex;
        gap: 1rem;
    }
    .f-container{
        @include footer-style;
    }
}

.action-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $font;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    &:hover {
        background-color: $secondary-color;
        color: $fourth-color;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    }
    &.show {
        background-color: $fourth-color;
        color: white;
    }
    &.category {
        background-color: $fourth-color;
        color: white;
    }
    &.type {
        background-color: $fourth-color;
        color: white;
    }
}