<link rel="stylesheet" href="/main.css">
<section class="adds">
    <%- include('header') %>
    <section class="add-container">
        <% if(option === 'show') { %>
            <form action="/add/show" class="form" method="POST">
                <label for="s-title">Show Title: </label>
                <input type="text" name="sTitle" id="s-title">

                <label for="s-type">Show Type:</label>
                <select name="sType" id="s-type">
                    <option value="MOVIE">Movie</option>
                    <option value="TV_SHOW">Tv Show</option>
                </select>

                <label for="s-category">Show Category: </label>
                <select name="sCategory" id="s-category">
                    <option value="Action">Action</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Romance">Romance</option>
                </select>

                <label for="s-country">Country: </label>
                <select name="sCountry" id="s-country">
                    <option value="USA">USA</option>
                    <option value="China">China</option>
                    <option value="Japan">Japan</option>
                </select>

                <label for="s-rating">Show rating: </label>
                <input type="text" name="sRating" id="s-rating">

                <div class="form-buttons">
                    <input type="submit" value="CREATE SHOW">
                    <button type="button" class="back-btn" onclick="window.history.back()">Back</button>
                </div>
            </form>
        <% } else if (option === 'category') { %>
            <form action="/add/category" class="form" method="POST">
                <label for="s-category">Show Category:</label>
                <input type="text" name="category" id="category" placeholder="Ex. Comedy">

                <div class="form-buttons">
                    <input type="submit" value="CREATE CATEGORY">
                    <button type="button" class="back-btn" onclick="window.history.back()">Back</button>
                </div>
            </form>
        <% } else if (option === 'type') { %>
            <form action="/add/type" class="form" method="POST">
                <label for="t-type">Type: </label>
                <input type="text" name="type" id="type">
                <div class="form-buttons">
                    <input type="submit" value="CREATE TYPE">
                    <button type="button" class="back-btn" onclick="window.history.back()">Back</button>
                </div>
            </form>
        <% } %>
    </section>
    <%- include('footer') %>
</section>