<footer class="f-container">
    <div class="f-content">
        <p>Project by <a href="https://www.theodinproject.com" target="_blank">The Odin Project</a></p>
        <p>Email: <a href="mailto:rustumarellano@gmail.com">rustumarellano@gmail.com</a></p>
        <p>Contact me: <a href="mailto:rustumarellano@gmail.com">Send an email</a></p>
    </div>
</footer>