<header class="head-container">
    <section class="title">
        <span>Movie Inventory</span>
    </section>
    <section class="home">
        <span>Home</span>
    </section>
    <section class="t-show">
        <span>Tv Shows</span>
    </section>
    <section class="movies">
        <span>Movies</span>
    </section>
    <section class="search">
        <input type="text" placeholder="Search">
        <input type="submit" value="Search">
    </section>
</header>