<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
    <script>
        const redirect = () =>{
        window.location.href = window.location.href + "movies"
     }
    </script>
</head>
<body>
    <section class="home">
        <%- include('header') %>
        <section class="home-container">
            <% if (choice === 'home'){ %>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
                <div>Hello</div>
            <% }else if (choice === 'search') { %>
                <div>Hello search</div>
            <% } else if (choice === 'movie') { %>
                <div>hello movie</div>
            <% } else if (choice ==='tvshow') { %>
                <div>hello tvshow</div>
            <% } else { %>
                <div>HELLO</div>
            <% } %>
            <div>Hello</div>
        </section>
        <%- include('footer') %>
    </section>
</body>
</html>