<script>
    let aOption = false;
    let uOption = false;
    let dOption = false;

    const addClick = () => {
        aOption = !aOption;
        window.location.href = `https://inventory-russ.adaptable.app/info?aOption=${aOption}`;
    }
    const updateClick = () => {
        uOption = !uOption;
        window.location.href = `https://inventory-russ.adaptable.app/info?uOption=${uOption}`;
    }
    const deleteClick = () => {
        dOption = !dOption;
        window.location.href = `https://inventory-russ.adaptable.app/info?dOption=${dOption}`;
    }
    const addRedirect = (category) => {
        window.location.href = `https://inventory-russ.adaptable.app/add?choice=${category}`;
    }
    const updateRedirect = (category) => {
        window.location.href = `https://inventory-russ.adaptable.app/update?choice=${category}`;
    }
    const deleteRedirect = (category) =>{
        window.location.href = `https://inventory-russ.adaptable.app/delete?choice=${category}`;
    }
</script>
<link rel="stylesheet" href="./main.css">
<section class="sect">
    <%- include('header') %>
    <section class="info-container">
        <div class="button-group">
            <button class="action-btn" onclick="addClick()">ADD</button>
            <% if (locals.aOption) { %>
                <button class="action-btn show" onclick="addRedirect('show')">ADD SHOW</button>
                <button class="action-btn category" onclick="addRedirect('category')">ADD CATEGORY</button>
                <button class="action-btn type" onclick="addRedirect('type')">ADD TYPE</button>
            <% } %>
        </div>
        <div class="button-group">
            <button class="action-btn" onclick="updateClick()">UPDATE</button>
            <% if (locals.uOption) { %>
                <button class="action-btn show" onclick="updateRedirect('show')">UPDATE SHOW</button>
                <button class="action-btn category" onclick="updateRedirect('category')">UPDATE CATEGORY</button>
                <button class="action-btn type" onclick="updateRedirect('type')">UPDATE TYPE</button>
            <% } %>
        </div>
        <div class="button-group">
            <button class="action-btn" onclick="deleteClick()">DELETE</button>
            <% if (locals.dOption) { %>
                <button class="action-btn show" onclick="deleteRedirect('show')">DELETE SHOW</button>
                <button class="action-btn category" onclick="deleteRedirect('category')">DELETE CATEGORY</button>
                <button class="action-btn type" onclick="deleteRedirect('type')">DELETE TYPE</button>
            <% } %>
        </div>
    </section>
    <%- include('footer') %>
</section>